#selectedAvatar {
    width: 200px; 
    height: 200px; 
    object-fit: cover;
}

.btn-edit-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -6px;
    margin-left: -18px;
    height: 25px;
    width: 25px;
    background: var(--blue);
    border-radius: 50%;
    z-index: 1;
    cursor: pointer;
}

.btn-edit-image i {
    font-size: 12px;
    color: var(--white);
}
