.logo-image {
    text-align: center;
    margin-bottom: 10px;
}

.logo-image img {
    width: 70px;
}

.logo-image span {
    font-size: 10px;
}

.bg-login-image {
    background: url(src/assets/cow-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.msg-auth-fail {
    height: 30px;
}

.msg-auth-fail label {
    font-size: 12px;
    margin: 0 0 10px 5px;
}
