<div id="login-painel" [formGroup]="loginForm" class="ui container vertical-center">
    <div class="ui middle aligned center aligned grid">
        <div class="column">
            <form class="ui form">
                <div class="item">
                    <div class="ui tiny image">
                        <img src="/assets/logo.png">
                    </div>
                </div>
                <h6>GESTÃO DO LEITE</h6>
                <h2>Bem-vindo</h2>
                <div class="field">
                    <label>Usuário</label>
                    <input type="text" formControlName="username">
                </div>
                <div class="field">
                    <label>Senha</label>
                    <input type="password" formControlName="password">
                </div>
                <div *ngIf="messageError" id="msg-auth-fail" class="ui mini red message">Usuário ou senha incorretos!</div>
                <button class="ui green button" (click)="login()" type="submit">Entrar</button>
            </form>
        </div>
    </div>
</div>
