.history {
    padding: 0.5rem 1rem;
}

.history h3 {
    font-size: 20px;
    color: var(--font-1100);
    font-weight: 700;
}

.history-item {
    height: 7%;
}

.history-item .line {
    width: 3px;
    display: block;
    height: 110px;
    background: var(--font-400);
    position: absolute;
    margin-left: 18px;
    margin-top: 48px;
}

.history-item:nth-last-child(1) .line {
    display: none;
}

.history-item .item-detail {
    display: flex;
    align-items: center;
    padding: 25px 0;
}

.history-item .desc {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    color: var(--font-1100);
    font-size: 14px;
}

.history-item .desc .datetime {
    color: var(--font-600);
    font-size: 13px;
    margin-top: 4px;
}

.avatar-container {
    z-index: 5;
}

.avatar-container .rounded-avatar {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border: 1px solid var(--bs-gray-dark);
    border-radius: 50%;
    margin-right: 5px;
}

.btn-view-more {
    border: none;
    padding: 10px;
    border-radius: 20px;
    background: var(--blue);
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    margin: 20px 0;
}


@media (max-width: 768px) {
    .history h3 {
        font-size: 15px;
    }

    .avatar-container .rounded-avatar {
        width: 30px;
        height: 30px;
    }

    .history-item .line {
        width: 2px;
        height: 90px;
        margin-left: 15px;
    }

    .history-item .desc {
        font-size: 11px;
    }

    .history-item .desc .datetime {
        font-size: 10px;
    }

    .btn-view-more {
        font-size: 11px;
    }
}
