<div class="paginator" *ngIf="canDisplayPagination()">
    <div class="total-desc">
      <div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite">
        {{ getShowingRange() }}
      </div>
    </div>
    <div class="pages">
      <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
        <ul class="pagination">

          <li class="paginate_button page-item previous" [ngClass]="{'disabled': !paginator.previous}" id="dataTable_previous">
            <a [routerLink]="[link]" [queryParams]="{ page: currentPage - 1 }" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">
              <i class="fas fa-chevron-left"></i>
            </a>
          </li>
  
          <li *ngFor="let i of getVisiblePages(paginator.page_number, paginator.total_pages)" 
              class="paginate_button page-item" 
              [ngClass]="{'active': paginator.page_number == i}">
            <a *ngIf="i !== '...'; else ellipsis" 
               [routerLink]="[link]" 
               [queryParams]="{ page: i }"
               aria-controls="dataTable" 
               data-dt-idx="1" 
               tabindex="0" 
               class="page-link">
              {{ i }}
            </a>
            <ng-template #ellipsis>
              <span class="page-link ellipsis">{{ i }}</span>
            </ng-template>
          </li>
  
          <li class="paginate_button page-item next" [ngClass]="{'disabled': !paginator.next}" id="dataTable_next">
            <a [routerLink]="[link]" [queryParams]="{ page: currentPage + 1 }" aria-controls="dataTable" data-dt-idx="7" tabindex="0" class="page-link">
              <i class="fas fa-chevron-right"></i>
            </a>
          </li>
  
        </ul>
      </div>
    </div>
  </div>
  