<div class="px-3 title">
    <div>
        <h3>Planilha semanal</h3>
        <small>Acompanhamento semanal detalhado por fornecedor</small>
        
    </div>
</div>

<nav *ngIf="weeklyControl" class="navbar navbar-light">
    <div class="weekly-details">
        <div><i class="fas fa-box me-2"></i>Planilha do {{ weeklyControl.product_description|lowercase }}</div>
        <div>
            <i class="far fa-calendar-alt me-2"></i>
            <span>{{ weeklyControl.start_date|date:"dd/MM/YYYY" }}</span> ~ 
            <span>{{ weeklyControl.end_date|date:"dd/MM/YYYY" }}</span>
        </div>
        <div>
            <span *ngIf="weeklyControl.is_closed">
                <i class="fas fa-check-circle"></i>
                Finalizada
            </span>
            <span *ngIf="!weeklyControl.is_closed">
                <i class="far fa-circle"></i>
                Em aberto
            </span>
        </div>
    </div>
    <table class="table mt-2">
        <thead>
            <tr>
                <th>FORNECEDOR</th>
                <th *ngFor="let weekday of weekdays">{{ weekday.name }}</th>
                <th>QTD</th>
                <th>PREÇO</th>
                <th>TOTAL</th>
                <th>AÇÕES</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let supplier of weeklyControl.suppliers; let i = index" class="detail-row" [ngClass]="{'paid': supplier.paid_supplier}" #rows>
                <td data-label="fornecedor">{{ supplier.name }}</td>
                <td data-label="Exibir histórico" class="expand-mobile-td" (click)="toggleDetails(i)"> <i class="fa-solid fa-plus"></i> </td>
                <td class="dropdown-td" [attr.data-label]="getWeekday(purchase.reference_day).name" *ngFor="let purchase of supplier.purchases">{{ purchase.quantity }}</td>
                <td data-label="Quantidade">{{ supplier.total_quantity }} L</td>
                <td data-label="Preço">{{ supplier.price.value|currency:'BRL' }}</td>
                <td data-label="Total">{{ (supplier.price.value * supplier.total_quantity)|currency:'BRL' }}</td>
                <td data-label="Ações">
                    <button type="button" routerLink="/weekly-control/{{ weeklyControl.id }}/supplier/{{supplier.id}}/purchases" class="btn btn-primary btn-action">
                        <i class="far fa-edit"></i> <span></span> 
                    </button>
                    <button *ngIf="!supplier.paid_supplier" type="button" routerLink="/weekly-control/{{ weeklyControl.id }}/supplier/{{supplier.id}}/payment" class="btn btn-primary btn-action bg-dark">
                        <i class="fa-solid fa-money-check-dollar bg-success"></i> <span></span> 
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</nav>
