<form class="container" [formGroup]="productForm">
    <div class="title">
        <h3 *ngIf="productId; else elseBlock">Atualizar produto</h3>
        <ng-template #elseBlock>
            <h5>Criar produto</h5>
        </ng-template>
    </div>
    <div class="field">
        <app-image-upload [image]="image" (imageFileChange)="onImageFileChange($event)"></app-image-upload>
    </div>

    <div class="row">
        <div class="form-group">
            <label class="form-label">Descrição</label>
            <input type="text" class="form-control" name="description" formControlName="description" required>
            <div class="invalid-feedback">Campo obrigatório</div>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-12 col-md-6">
            <label class="form-label" for="brands">Marca</label>
            <select class="form-control" name="brand" id="brands" formControlName="brand">
                <option *ngFor="let brand of brands" value="{{ brand.id }}">{{ brand.description }}</option>
            </select>
            <div class="invalid-feedback">Campo obrigatório</div>
        </div>
        <div class="form-group col-12 col-md-6">
            <label class="form-label" for="brands">Categoria</label>
            <select class="form-select" name="category" id="categories" formControlName="category">
                <option *ngFor="let category of categories" value="{{ category.id }}">{{ category.description }}
                </option>
            </select>
            <div class="invalid-feedback">Campo obrigatório</div>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-12 col-md-6">
            <label class="form-label">Unidade</label>
            <select class="form-select" name="measure_unit" formControlName="measure_unit"
                (change)="onOptionChange($event)">
                <option *ngFor="let measureUnit of measureUnits" value="{{ measureUnit.id }}"
                    attr.data-abbreviation="{{ measureUnit.abbreviation }}">
                    ({{ measureUnit.abbreviation }}) {{ measureUnit.description }}
                </option>
            </select>
            <div class="invalid-feedback">Campo obrigatório</div>
        </div>
        <div class="form-group col-12 col-md-6">
            <label class="form-label">Quantidade por unidade</label>
            <div class="input-group">
                <input type="text" class="form-select" type="text" name="unit_quantity" formControlName="unit_quantity">
                <div class="input-group-append">
                    <span class="input-group-text" [textContent]="labelValue">Un</span>
                </div>
                <div class="invalid-feedback">Campo obrigatório</div>
            </div>
        </div>
    </div>

    <div class="form-check ms-1 col-12">
        <input class="form-check-input" type="checkbox" tabindex="0" name="active" formControlName="active" checked>
        <label class="form-check-label">Ativo</label>
    </div>
    <hr>

    <div class="button-area" [ngClass]="{'update': productId}">
        <button *ngIf="productId" type="button" class="btn btn-action delete full" data-bs-toggle="modal" data-bs-target="#deleteProductModal"> 
            <i class="fas fa-trash"></i> <span> Excluir</span> 
        </button>
        <div>
            <button type="button" (click)="back()" class="btn btn-action back">Cancelar</button>
            <button type="button" (click)="save()" class="btn btn-action save"><i class="fas fa-check"></i> Salvar</button>
        </div>
    </div>
</form>


<app-delete-modal
    [id]="'deleteProductModal'"
    [title]="'Excluir Produto'"
    [message]="'Tem certeza de que deseja excluir este produto?'"
    [confirmationMessage]="'Esta ação não pode ser desfeita.'"
    [confirmButtonText]="'Excluir'"
    (delete)="deleteProduct()"
></app-delete-modal>