<div *ngIf="!isLoading" class="card shadow mt-2" role="alert">
    <div class="card-body">
      <h4 class="alert-heading">Sem resultados</h4>
      <p>Não foram encontrados {{ listingName }} para exibir.</p>
    </div>
</div>

<table *ngIf="isLoading" class="table">
  <thead>
     <tr>
        <th>‎</th>
     </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <div class="card-loading">
          <p class="loading-text">Carregando...</p>
          <div class="spinner-border" role="status"></div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
