.container {
    padding: 20px;
    border-radius: 10px;
}

.nav-item {
    font-size: 12px;
}

.nav-link {
    color: var(--font-900);
}

.nav-link.active {
    background: var(--font-100);
    color: var(--font-1100);
    font-weight: 600;
    border-bottom-color: var(--font-100);
}

.img-container img {
    width: 200px; 
    height: 200px; 
    object-fit: cover;
}
.detail-label {
    font-weight: 600;
}

.detail-label, .detail-desc {
    font-size: 14px;
}

.btn {
    font-size: 12px;
}
