<div class="container-fluid">
    <button class="btn btn-primary mb-2" routerLink="/products/create/">
        Novo
    </button>
    <table *ngIf="paginator && paginator.count > 0 else emptyList" class="table">
        <thead>
            <tr>
                <th>Descrição</th>
                <th class="d-none d-md-table-cell">Marca</th>
                <th class="d-none d-md-table-cell">Categoria</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products">
                <td>
                    <div class="media">
                        <img [src]="product.image ? product.image : 'assets/image-404.png'" class="image-product"
                            alt="Imagem do Produto">
                        <div class="product-info">
                            <h5 class="description">{{ product.description }}</h5>
                            <p class="measure-unit">{{ product.unit_quantity | number: '1.0-0' }} {{
                                product.measure_unit.abbreviation }}</p>
                        </div>
                    </div>
                </td>
                <td data-label="Marca">{{ product.brand.description }}</td>
                <td data-label="Categoria">{{ product.category.description }}</td>
                <td data-label="Ações">
                    <div role="group">
                        <button type="button" routerLink="/products/{{product.id}}/update" class="btn btn-primary btn-action">
                            <i class="far fa-edit"></i> <span> Editar</span> 
                        </button>
                        <button id="{{ product.id }}" 
                                type="button" 
                                class="btn btn-danger btn-action" 
                                data-bs-toggle="modal" 
                                data-bs-target="#deleteProductModal"
                                (click)="setProductId($event)"> 
                            <i class="fas fa-trash"></i> <span> Excluir</span> 
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <ng-template #emptyList>
        <app-empty-list [listingName]="'produtos'"></app-empty-list>
    </ng-template>
    <app-paginator [paginator]="paginator" [link]="'/products'" listingName="produtos"></app-paginator>
</div>

<app-delete-modal
    [id]="'deleteProductModal'"
    [title]="'Excluir Produto'"
    [message]="'Tem certeza de que deseja excluir este produto?'"
    [confirmationMessage]="'Esta ação não pode ser desfeita.'"
    [confirmButtonText]="'Excluir'"
    (delete)="deleteProduct()"
></app-delete-modal>
