<div class="container-fluid">
    <button class="btn btn-primary mb-2" routerLink="/products/create/">
        Novo
    </button>
    <table class="table">
        <thead>
            <tr>
                <th>Descrição</th>
                <th>Marca</th>
                <th>Categoria</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products">
                <td>
                    <div class="media">
                        <img [src]="product.image ? product.image : 'assets/image-404.png'" class="image-product"
                            alt="Imagem do Produto">
                        <div class="product-info">
                            <h5 class="description">{{ product.description }}</h5>
                            <p class="measure_unit">{{ product.unit_quantity | number: '1.0-0' }} {{
                                product.measure_unit.abbreviation }}</p>
                        </div>
                    </div>
                </td>
                <td>{{ product.brand.description }}</td>
                <td>{{ product.category.description }}</td>
                <td>
                    <div class="btn-group" role="group">
                        <a href="/products/{{product.id}}/" class="btn btn-primary"><i class="far fa-edit"></i>
                            Editar</a>
                        <button type="button" class="btn btn-danger"><i class="fas fa-trash"></i> Excluir</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
