.image-product {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 3px;
}

.product-info .description {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    color: var(--font-1100);
}

.product-info .description:hover {
    text-decoration: none;
}

.product-info .description:hover span {
    text-decoration: underline;
}

.product-info .description i {
    font-size: 8px;
    padding: 5px;
}

.product-info .measure-unit {
    font-size: 12px;
    text-align: start;
}

@media (max-width: 768px) {
    .product-info .description {
        font-size: 11px;
    }

    .product-info .measure-unit {
        font-size: 9px;
        text-align: start;
    }
}
