.button-area {
    float: right;
}

.button-area.update {
    float: none;
    display: flex;
    justify-content: space-between;
}

.button-area .btn i {
    font-size: 14px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
