.weekly-control-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    color: var(--bs-gray-dark);
    font-weight: 500;
    font-size: 14px;
    border: 1px solid var(--bs-gray-200);
    border-radius: 10px;
    background: var(--bs-white);
    padding: 10px 5px;
}

.weekly-control-info div {
    padding: 0 10px;
    font-size: 14px;
    font-weight: 600;
}

.supplier-name {
    font-size: 14px;
    font-weight: 700;
}

.price-tag {
    display: flex;
    justify-content: start;
    align-items: center;
}

.table-purchases td {
    padding: 2px;
    font-size: 14px;
}

.table-purchases td:first-child {
    background-color: var(--bs-white);
    color: #000;
}

.table-purchases .form-control {
    max-width: 65px;
}

.values-result {
    padding: 12px !important;
    font-weight: 600;
}

.button-area {
    width: 100%;
    display: flex;
    justify-content: end;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


#pay-supplier-modal .pay-details {
    margin-bottom: 1rem;
}

#pay-supplier-modal .pay-details label{
    margin-bottom: 0;
}

.title {
    margin-bottom: 30px;
}

.title h3{
    color: var(--title-color);
    font-weight: 700;
    font-size: 24px;
    margin: 0;
}

.title small {
    font-size: 13px;
}

.purchase-quantity {
    border: none;
    border-radius: 0;
    color: #000;
    font-weight: 500;
}

.purchase-quantity:focus {
    font-weight: 700;
    border-bottom: 3px solid var(--blue) !important;
    box-shadow: none !important;
    transition: 0.1s;
}

.purchase-quantity:disabled {
    cursor: not-allowed;
    background: none;
    color: var(--bs-gray-500);
}

.today {
    color: #eeff00 !important;
}

.active-day {
    position: absolute;
    font-size: 7px;
    margin-top: -2px;
    margin-left: 26px;
    color: red;
}

.today:before {
    position: absolute;
    width: 2px;
    height: 2px;
    color: red;
    border-radius: 50%;
}


@media (max-width: 768px) {

    .title {
        margin-bottom: 20px;
    }

    .title h3{
        font-size: 18px;
    }
    
    .title small {
        font-size: 10px;
    }

    .weekly-control-info .supplier-name,
    .weekly-control-info .date-range,
    .weekly-control-info .price-tag,
    .weekly-control-info .status {
        width: 100%;
        padding: 10px;
        font-size: 11px;
    }
    .table-purchases td {
        display: flex;
        align-items: center;
        justify-content: end;
    }

    .purchase-quantity {
        max-width: 50% !important;
        width: 50%;
        text-align: end;
    }

    .table-purchases td::before {
        display: flex;
        align-items: center;
        height: 100%;
        background: var(--blue);
        color: var(--bs-gray-100);
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .navbar {
        padding: 0.5rem 0.5rem;
    }
}