<div class="navbar navbar-light">
    <div><i class="fa-solid fa-truck-ramp-box mx-1"></i> Fornecedor </div>
    <div>
        <i class="far fa-calendar-alt me-2"></i>
        <span>09/20/2024</span> ~ 
        <span>15/20/2024</span>
    </div>
    <div class="price-tag">
        <i class="fa-solid fa-tag"></i> 
        <span class="mx-2">Preço: R$ 2,00</span>
        <div>
            <button type="button" class="btn btn-primary btn-action">
                <i class="far fa-edit"></i> 
            </button>
        </div>
    </div>
    <div>
        <i class="far fa-circle text-info"></i>
        Em aberto
    </div>
    <table class="table table-purchases mt-2">
        <thead>
            <tr>
                <th>SEX</th>
                <th>SAB</th>
                <th>DOM</th>
                <th>SEG</th>
                <th>TER</th>
                <th>QUA</th>
                <th>QUI</th>
                <th>QUANTIDADE</th>
                <th>VALOR</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="text" class="form-control" name="description" value="10"></td>
                <td><input type="text" class="form-control" name="description" value="9"></td>
                <td><input type="text" class="form-control" name="description" value="12"></td>
                <td><input type="text" class="form-control" name="description" value="12"></td>
                <td><input type="text" class="form-control" name="description" value="7"></td>
                <td><input type="text" class="form-control" name="description" value="12"></td>
                <td><input type="text" class="form-control" name="description" value="10"></td>
                <td>72 L</td>
                <td>R$ 144,00 </td>
            </tr>
        </tbody>
    </table>

    <div class="button-area">
        <div>
            <button type="button" (click)="back()" class="btn btn-light border me-2">Cancelar</button>
            <button type="button" class="btn btn-primary"><i class="fas fa-check"></i> Salvar</button>
        </div>
    </div>
</div>


