<div *ngIf="path" class="px-3 title">
    <div *ngIf="path === 'purchases'">
        <h3>Gerenciar planilha</h3>
        <small>Atualize os registros semanais do fornecedor</small>
    </div>
    <span *ngIf="path === 'payment'">
        <h3>Pagamento ao fornecedor</h3>
        <small>Realize o pagamento e garanta a continuidade dos serviços</small>
        
    </span>
</div>

<div *ngIf="weeklyControl" class="navbar navbar-light">
    <div class="weekly-control-info">
        <div class="supplier-name">
            <i class="fa-solid fa-building-user me-2"></i>{{ weeklyControl.suppliers![0].name }} 
        </div>
        <div class="date-range">
            <i class="far fa-calendar-alt me-2"></i>
            <span>{{ weeklyControl.start_date|date:'dd/MM/yyyy' }}</span> ~ 
            <span>{{ weeklyControl.end_date|date:'dd/MM/yyyy' }}</span>
        </div>
        <div class="price-tag">
            <i class="fa-solid fa-tag"></i> 
            <span class="mx-2">Preço: {{ weeklyControl.suppliers![0].price.value|currency:'BRL' }}</span>
            <div>
                <button *ngIf="!weeklyControl.suppliers![0].paid_supplier" type="button" class="btn btn-primary btn-action" data-bs-toggle="modal" data-bs-target="#update-price-modal">
                    <i class="far fa-edit"></i> 
                </button>
            </div>
        </div>
        <div class="status">
            
            <span *ngIf="!weeklyControl.suppliers![0].paid_supplier"><i class="far fa-circle me-2"></i>Em aberto</span>
            <span *ngIf="weeklyControl.suppliers![0].paid_supplier"><i class="fa-solid fa-file-invoice-dollar me-2"></i>Pago</span>
        </div>
    </div>
    <table class="table table-purchases mt-3">
        <thead>
            <tr>
                <th *ngFor="let weekDay of weekDays" class="{{ weekDay.day == today ? 'today' : '' }}">
                    {{ weekDay.name }}
                </th>
                <th>QUANTIDADE</th>
                <th>VALOR</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="weeklyControl">
                <td [attr.data-label]="getWeekday(purchase.reference_day).name" *ngFor="let purchase of weeklyControl.suppliers![0].purchases">
                    <input id="{{ purchase.id }}"
                           type="number"
                           min="0"
                           class="form-control purchase-quantity" 
                           [attr.data-reference-day]="purchase.reference_day" 
                           [attr.data-init-value]="purchase.quantity"
                           (input)="updateTotal($event)"
                           [disabled]="disableField(purchase.reference_day)"
                           value="{{ purchase.quantity }}"/>
                </td>
                <td data-label="QUANTIDADE" class="values-result">{{ weeklyControl.suppliers![0].total_quantity }}</td>
                <td data-label="VALOR" class="values-result">{{ getPriceTotal() | currency:'BRL':'symbol':'1.2-2' }} </td>
            </tr>
        </tbody>
    </table>

    <div class="button-area">
        <div>
            <button type="button" (click)="back()" class="btn btn-light border me-2">Cancelar</button>
            <button *ngIf="path === 'purchases'" type="button" (click)="save()" class="btn btn-primary">
                <i class="fas fa-check"></i> Salvar
            </button>
            <button *ngIf="path === 'payment' && !weeklyControl.suppliers![0].paid_supplier" type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#pay-supplier-modal">
                <i class="fa-solid fa-money-check-dollar bg-success"></i> Pagar
            </button>
        </div>
    </div>
</div>

<app-history [WeeklyControlEventPaginator]="WeeklyControlEventPaginator" 
            (getMoreEvents)="get_events(weeklyControl.suppliers![0].id, weeklyControl.id, WeeklyControlEventPaginator.page_number+1)">
</app-history>

<div *ngIf="weeklyControl" class="modal fade" id="update-price-modal" tabindex="-1" role="dialog" aria-labelledby="update-price" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

        <header class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Selecionar tabela de preço</h5>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Fechar">
                <span aria-hidden="true">&times;</span>
            </button>
        </header>

        <main class="modal-body">
            <small class="d-flex">#Fornecedor: {{ weeklyControl.suppliers![0].name }}</small>
            <hr>
            <form class="container" [formGroup]="priceProductSupplierForm">
                <label for="price-product-supplier">Selecione a tabela</label>
                <select *ngIf="priceTables" class="form-select" id="price-product-supplier" formControlName="price" (change)="changePriceValue($event)">
                    <option *ngFor="let priceTable of priceTables" 
                            value="{{ priceTable.id }}"
                            [attr.unit-price]="priceTable.value"
                            [attr.default]="priceTable.default"> {{ priceTable.description }} - R$ {{ priceTable.value }} </option>
                </select>
            </form>
        </main>

        <footer class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            <button type="button" (click)="setPriceTable()" data-bs-dismiss="modal" class="btn btn-primary">Salvar</button>
        </footer>
        </div>
    </div>
</div>


<div *ngIf="weeklyControl" class="modal fade" id="pay-supplier-modal" tabindex="-1" role="dialog" aria-labelledby="paySupplier" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

        <header class="modal-header">
            <h5 class="modal-title">Pagar fornecedor</h5>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Fechar">
                <span aria-hidden="true">&times;</span>
            </button>
        </header>

        <main class="modal-body">
            <span class="d-flex">#Fornecedor: {{ weeklyControl.suppliers![0].name }}</span>
            <hr>
            
            <div class="pay-details">
                <label>Quantidade: </label>
                <strong class="d-flex">{{ weeklyControl.suppliers![0].total_quantity }}</strong>
            </div>
            <div class="pay-details">
                <label>Preço unitário: </label>
                <strong class="d-flex">{{ weeklyControl.suppliers![0].price.value|currency:'BRL' }}</strong>
            </div>
            <div class="pay-details">
                <label>Valor final: </label>
                <strong class="d-flex">{{ getPriceTotal() | currency:'BRL':'symbol':'1.2-2' }}</strong>
            </div>
        </main>

        <footer class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            <button type="button" class="btn btn-dark" (click)="pay()" data-bs-dismiss="modal">
                <i class="fa-solid fa-money-check-dollar bg-success"></i> Pagar
            </button>
        </footer>
        </div>
    </div>
</div>
