.weekly-control-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    color: var(--font-1100);
    font-weight: 500;
    font-size: 14px;
    border: 1px solid var(--font-300);
    border-radius: 10px;
    background: var(--dark-blue-1);
    padding: 10px 5px;
}

.weekly-control-info div {
    padding: 0 10px;
    font-size: 14px;
    font-weight: 600;
}

.supplier-name {
    font-size: 14px;
    font-weight: 700;
}

.price-tag {
    display: flex;
    justify-content: start;
    align-items: center;
}

.table-purchases td {
    /* padding: 2px; */
    font-size: 14px;
}

/* .table-purchases td:first-child {
    background-color: var(--bs-white);
    color: #000;
} */

/* .table-purchases .form-control {
    max-width: 65px;
} */

.values-result {
    padding-bottom: 10px !important;
}

.button-area {
    width: 100%;
    display: flex;
    justify-content: end;
}

.btn-action.payment {
    background: #198754;
    color: #fff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#pay-supplier-modal .pay-details {
    margin-bottom: 1rem;
}

#pay-supplier-modal .pay-details label{
    margin-bottom: 0;
}

.purchase-quantity {
    border: none;
    border-radius: 0;
    background: transparent;
    color: var(--font-1100);
    padding: 0;
    font-size: 14px;
    font-weight: 500;
    border-bottom: 3px solid transparent;
}

.purchase-quantity:focus {
    /* font-weight: 600; */
    border-bottom: 3px solid var(--blue) !important;
    box-shadow: none !important;
    transition: 0.1s;
}

.purchase-quantity:disabled {
    cursor: not-allowed;
    background: none;
    color: var(--bs-gray-500);
}

th.today {
    filter: brightness(0.9);
}

@media (max-width: 768px) {

    .weekly-control-info .supplier-name,
    .weekly-control-info .date-range,
    .weekly-control-info .price-tag,
    .weekly-control-info .status {
        width: 100%;
        padding: 10px;
        font-size: 11px;
    }
    .table-purchases td {
        display: flex;
        align-items: center;
        justify-content: end;
        border: none;
        margin-bottom: 3px;
    }

    .table-purchases td:not(.values-result) {
        padding: 0;
    }

    .table-purchases td:first-child {
        background: var(--background-secondary);
        text-transform: capitalize;
    }

    .purchase-quantity {
        max-width: 50% !important;
        width: 50%;
        text-align: end;
        padding: 10px 7px;
    }

    .table-purchases td::before {
        display: flex;
        align-items: center;
        height: 100%;
        background: var(--blue);
        color: var(--bs-gray-100);
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .navbar {
        padding: 0.5rem 0.5rem;
    }
}