<div *ngIf="product" class="container">

    <div class="title">
        <h3>{{ product.description }}</h3>
    </div>

    <ul class="nav nav-tabs mb-3">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/products/{{ product.id }}/detail">Detalhes </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active">Tabelas de preço</a>
        </li>
    </ul>

    <button class="btn btn-primary mb-2" routerLink="/products/{{ product.id }}/prices/create">
        Nova
    </button>
    <table *ngIf="paginator && paginator.count > 0 else emptyList" class="table mt-2">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Valor</th>
                <th>tabela padrão</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let price of prices">
                <td data-label="Nome">{{ price.description }}</td>
                <td data-label="Valor">R$ {{ price.value|number: '1.2-2' }}</td>
                <td data-label="tabela padrão" class="active-column">
                    <i *ngIf="price.default" class="fas fa-check-circle text-success"></i>
                    <i *ngIf="!price.default" class="fas fa-times-circle text-danger"></i>
                </td>
                <td data-label="Ações">
                    <div role="group">
                        <button type="button" routerLink="/products/{{ product.id }}/prices/{{ price.id }}/update" class="btn btn-primary btn-action">
                            <i class="far fa-edit"></i> <span> Editar</span> 
                        </button>
                        <button [disabled]="price.has_spreadsheet" id="{{ price.id }}" 
                                type="button" 
                                class="btn btn-danger btn-action" 
                                data-bs-toggle="modal" 
                                data-bs-target="#deletePriceModal"
                                (click)="setPriceId($event)"> 
                            <i class="fas fa-trash"></i> <span> Excluir</span> 
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <ng-template #emptyList>
        <app-empty-list [listingName]="'tabelas de preço'"></app-empty-list>
    </ng-template>
</div>


<app-delete-modal
    [id]="'deletePriceModal'"
    [title]="'Excluir preço'"
    [message]="'Tem certeza de que deseja excluir esse preço?'"
    [confirmationMessage]="'Esta ação não pode ser desfeita.'"
    [confirmButtonText]="'Excluir'"
    (delete)="deletePrice()"
></app-delete-modal>
