<form class="container" [formGroup]="weeklyControlForm">
    <div class="title">
        <h3 *ngIf="weeklyControlId; else elseBlock">Atualizar planilha</h3>
        <!-- <small>Realize o registro de uma nova planilha.</small> -->
        <ng-template #elseBlock>
            <h3>Criar planilha</h3>
        </ng-template>
    </div>

    <hr>

    <div class="row">
        <div class="form-group col-12">
            <label class="form-label">Selecione a semana</label>
            <input id="range-date" type="date" class="form-control" formControlName="date_range" (change)="dateRange($event)">
            <div class="invalid-feedback">Campo obrigatório</div>
        </div>
    </div>

    <div class="form-group col-12 col-md-6 p-0">
        <label class="form-label" for="product">Produto</label>
        <select class="form-select" name="product" id="product" formControlName="product">
            <option *ngFor="let product of products" value="{{ product.id }}">{{ product.description }}</option>
        </select>
        <div class="invalid-feedback">Campo obrigatório</div>
    </div>

    <div *ngIf="weeklyControlId && weeklyControl.purchase_exists" class="form-check form-switch ms-6 col-12">
        <input class="form-check-input me-6" type="checkbox" formControlName="is_closed" checked>
        <label class="form-check-label">Encerrar planilha</label>
        <br>
        <small *ngIf="weeklyControlForm.controls['is_closed'].value">Ao salvar, os fornecedores sem nenhum registro na semana serão excluídos da listagem</small>
    </div>

    <hr>

    <div class="button-area" [ngClass]="{'update': weeklyControlId}">
        <button *ngIf="weeklyControlId" type="button" class="btn btn-action delete full" data-bs-toggle="modal" data-bs-target="#deleteWeeklyControlModal"> 
            <i class="fas fa-trash"></i> <span> Excluir</span> 
        </button>
        <div>
            <button type="button" (click)="back()" class="btn btn-action back">Cancelar</button>
            <button type="button" (click)="save()" class="btn btn-action save"><i class="fas fa-check"></i> Salvar</button>
        </div>
    </div>
</form>

<app-delete-modal
    [id]="'deleteWeeklyControlModal'"
    [title]="'Excluir Planilha'"
    [message]="'Tem certeza de que deseja excluir esta planilha?'"
    [confirmationMessage]="'Esta ação não pode ser desfeita.'"
    [confirmButtonText]="'Excluir'"
    (delete)="deleteWeeklyControl()"
></app-delete-modal>
