<div id="wrapper">

    <!-- Sidebar -->
    <ul class="sidebar navbar-nav accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
            <img src="assets/logo.png" alt="logo" width="50">
            <div class="sidebar-brand-text mx-3">Gestão do leite</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" routerLink="dashboard">
                <i class="fas fa-chart-line"></i>
                <span>Dashboard</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Controle semanal
        </div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link" routerLink="/weekly-control">
                <i class="fas fa-table"></i>
                <span>Planilhas</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Cadastros
        </div>

        <!-- Nav Item - Charts -->
        <li class="nav-item">
            <a class="nav-link" routerLink="/users">
                <i class="fa-solid fa-user"></i>
                <span>Usuários</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" routerLink="/products">
                <i class="fas fa-box"></i>
                <span>Produtos</span></a>
        </li>

        <!-- Nav Item - Tables -->
        <li class="nav-item">
            <a class="nav-link" routerLink="/suppliers">
                <i class="fa-solid fa-dolly"></i>
                <span>Fornecedores</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" (click)="toggle()" id="sidebarToggle"></button>
        </div>


    </ul>
    <!-- End of Sidebar -->
    <div id="content-wrapper" class="d-flex flex-column">
        <div>

            <!-- Topbar -->
            <nav class="navbar navbar-expand topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3" (click)="toggle()">
                    <i class="fa fa-bars"></i>
                </button>

                <input type="checkbox" id="themeToggle" (change)="toggleDarkMode($event)" [checked]="isDarkMode"/>
                <label class="theme-toggle" for="themeToggle"></label>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a *ngIf="user" class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 text-gray-600 small">{{ user.name }} {{ user.last_name }}</span>
                            <img class="img-profile rounded-circle border" src="{{ user.image ? user.image : '/assets/user-no-image.jpg' }}">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                            <a class="dropdown-item d-none" href="#">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Perfil
                            </a>
                            <a class="dropdown-item d-none" href="#">
                                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                Configurações
                            </a>
                            <!-- NOTE: This divider broke the layout -->
                            <!-- <div class="dropdown-divider d-none"></div> -->
                            <a class="dropdown-item" href="#" (click)="logout()">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Sair
                            </a>
                        </div>
                    </li>

                </ul>

            </nav>

        </div>

        <!-- Router Outlet Render -->
        <router-outlet></router-outlet>

        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Gestão do leite {{ FullYear }}</span>
                    <span class="version-label">v{{ env.version }}</span>
                </div>
            </div>
        </footer>

    </div>
</div>

<!-- Scroll to Top Button-->
<div class="scroll-to-top rounded" (click)="scrollToTop()">
    <i class="fas fa-angle-up"></i>
</div>
