header {
    background-color: #3BA30F !important;
}

nav {
    margin: 10px !important;
    margin-right: 10px !important;
}

.item span:last-child {
    padding-left: 10px;
}

.right.menu a {
    margin-right: 20px;
}

.ui.segment {
    box-shadow: none;
}
