#content-wrapper {
    background-color: var(--background-primary) !important;
}

.sidebar, .navbar {
    background: var(--background-secondary);
}

#accordionSidebar {
    border-right: 1px solid var(--font-300);
}

.sidebar-brand-text {
    font-size: 12px;
    text-wrap: nowrap;
    color: var(--font-1100);
}

.sidebar-heading {
    font-size: 10px;
    color: var(--text-600);
}

.sidebar-divider {
    border-color: var(--text-900) !important;
    opacity: 0.07;
}

.nav-item {
    font-size: 13px;
}

span {
    color: var(--font-1000);
    font-weight: 500;
}

.nav-item i {
    display: inline-flex;
    margin-right: 16px;
    font-size: 16px;
    color: var(--font-1000);
}

.nav-item i::before {
    width: 16px;
    height: 16px;
}

.nav-item.active a * {
    color: var(--font-1100);
    font-weight: 700;
}

.nav-item:hover * {
    color: var(--font-1100) !important;
    font-weight: 800;
}

#sidebarToggleTop:hover {
    background: var(--font-200);
    color: var(--font-1100);
    border: 1px solid var(--font-300);
}

#sidebarToggle {
    background: var(--font-200);
    color: var(--font-1100);
}

.scroll-to-top {
    cursor: pointer;
}

.sticky-footer {
    margin-top: auto;
    padding: 1rem 0;
    background-color: var(--background-secondary) !important;
}

#accordionSidebar {
    transition: 0.5s;
}

.copyright {
    font-size: 12px !important;
}

.version-label {
    position: absolute;
    right: 7px;
    bottom: 7px;
    font-size: 12px;
    color: var(--bs-gray-400);
}

.img-profile {
    object-fit: cover;
}

@media (max-width: 768px) {
    .version-label,
    .copyright {
        font-size: 9px !important;
    }

    .scroll-to-top {
        width: 2rem;
        height: 2rem;
        line-height: 34px;
    }
}
