<div class="container-fluid">
    <button class="btn btn-primary mb-2" routerLink="/weekly-control/create">
        <i class="fas fa-plus"></i>
        Nova planilha
    </button>
    <table *ngIf="paginator && paginator.count > 0 else emptyList" class="table">
        <thead>
            <tr>
                <th>Produto</th>
                <th>Data inicial</th>
                <th>Data final</th>
                <th>Ativa</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let weeklyControl of weeklyControls">
                <td data-label="Produto"><a class="product-name" routerLink="/weekly-control/{{ weeklyControl.id }}/detail">{{ weeklyControl.product_description }}</a></td>
                <td data-label="Data inicial">{{ weeklyControl.start_date | date:'dd/MM/yyyy' }}</td>
                <td data-label="Data final">{{ weeklyControl.end_date | date:'dd/MM/yyyy' }}</td>
                <td data-label="Ativa" class="active-column">
                    <i *ngIf="!weeklyControl.is_closed" class="fas fa-check-circle text-success"></i>
                    <i *ngIf="weeklyControl.is_closed" class="fas fa-times-circle text-danger"></i>
                </td>
                <td data-label="Ações">
                    <div *ngIf="!weeklyControl.is_closed" role="group">
                        <button type="button" routerLink="/weekly-control/{{ weeklyControl.id }}/update" class="btn btn-primary btn-action">
                            <i class="far fa-edit"></i> <span> Editar</span> 
                        </button>
                        <button id="{{ weeklyControl.id }}" 
                                type="button" 
                                class="btn btn-danger btn-action" 
                                data-bs-toggle="modal" 
                                data-bs-target="#deleteWeeklyControlModal"
                                (click)="setWeeklyControlId($event)"> 
                            <i class="fas fa-trash"></i> <span> Excluir</span> 
                        </button>
                    </div>
                    <button *ngIf="weeklyControl.is_closed" type="button" routerLink="/weekly-control/{{ weeklyControl.id }}/detail" class="btn btn-primary btn-action">
                        <i class="fa-solid fa-share-from-square"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <ng-template #emptyList>
        <app-empty-list [listingName]="'planilhas'"></app-empty-list>
    </ng-template>
    <app-paginator [paginator]="paginator" [link]="'/weekly-control'" listingName="Planilhas"></app-paginator>
</div>


<app-delete-modal
    [id]="'deleteWeeklyControlModal'"
    [title]="'Excluir planilha'"
    [message]="'Tem certeza de que deseja excluir esta planilha?'"
    [confirmationMessage]="'Esta ação não pode ser desfeita.'"
    [confirmButtonText]="'Excluir'"
    (delete)="deleteWeeklyControl()"
></app-delete-modal>
