@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fira+Code:wght@500&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~startbootstrap-sb-admin-2/css/sb-admin-2.min.css';
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~flatpickr/dist/flatpickr.css';

:root {
    --title-color: #1e293b;
    --subtitle-color: #818181;
}

* {
    font-family: "Inter", sans-serif;
}

.btn-action {
    font-size: 10px;
    margin: 2px;
}

.btn-action span {
    display: inline;
}

.table {
    box-shadow: 0 .15rem 1.75rem 0 rgba(58, 59, 69, .15);
    border: 1px solid #f3f3f3b0;
}

.table th {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    border: none;
    background: var(--blue);
    color: var(--white);
}

.table th:first-child {
    border-top-left-radius: 10px;
}

.table th:last-child {
    border-top-right-radius: 10px;
}

.table td {
    vertical-align: middle;
    font-size: 14px;
    font-weight: 500;
}

@media (max-width: 767px) {
    .btn-action span {
        display: none;
    }

    .container-fluid {
        padding: 0.7rem;
    }

    .table {
        width: 100%;
        border-collapse: collapse;
        box-shadow: none;
        background-color: transparent;
        border-color: transparent;
    }

    .table thead {
        display: none;
    }

    .table tr {
        display: block;
        margin-bottom: 20px;
        box-shadow: 0 .15rem 1.75rem 0 rgba(58, 59, 69, .15);
        border-radius: 10px;
    }

    .table td {
        display: block;
        text-align: right;
        position: relative;
        font-size: 11px;
    }

    .table td:first-child {
        background-color: var(--blue);
        color: var(--white);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        text-transform: uppercase;
    }

    .table td:last-child {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .table td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-weight: bold;
        text-align: left;
    }
}
