@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fira+Code:wght@500&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~startbootstrap-sb-admin-2/css/sb-admin-2.min.css';
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~flatpickr/dist/flatpickr.css';

:root {
    --title-color: #1e293b;
    --subtitle-color: #818181;
    --background-primary: #f8f9fa;
    --background-secondary: #fff;
    --nav-1: #682af5;
    --purple-1: #5465ff;
    --dark-blue-1: #f5f5f5;
    --blue-1: #118ab2;
    --font-100: #ffffff;
    --font-200: #f5f5f5;
    --font-300: #e0e0e0;
    --font-400: #cccccc;
    --font-500: #b3b3b3;
    --font-600: #999999;
    --font-700: #808080;
    --font-800: #666666;
    --font-900: #4d4d4d;
    --font-1000: #333333;
    --font-1100: #000000;
}

.dark {
    --dark-blue-1: #1c2a4d;
    --background-primary: #1d2230;
    --background-secondary: #10182c;
    --nav-1: #B0C4DE;
    --font-100: #000000;
    --font-200: #1a1a1a;
    --font-300: #333333;
    --font-400: #4d4d4d;
    --font-500: #666666;
    --font-600: #808080;
    --font-700: #999999;
    --font-800: #b3b3b3;
    --font-900: #cccccc;
    --font-1000: #e0e0e0;
    --font-1100: #ffffff;
}

* {
    font-family: "Inter", sans-serif;
    transition: 0.3s;
}

.title {
    margin-bottom: 30px;
}

.title h3{
    color: var(--font-1100);
    font-weight: 700;
    font-size: 24px;
    margin: 0;
}

.title small {
    font-size: 13px;
}

.btn-action {
    font-size: 14px !important;
    margin: 2px;
    height: 35px;
}

.btn-action i {
    font-size: 12px;
}

.btn-action:hover {
    border: 1px solid;
}

.btn-action span {
    display: inline;
}

.btn-action.save,
.btn-action.create {
    background: var(--purple-1);
    color: #fff;
    border: none;
}

.btn-action.create:hover {
    filter: brightness(0.95);
}

.active-column {
    font-size: 12px;
}

.active-column .fa-check-circle,
.btn-action.edit {
    color: #07beb8;
}

.btn-action.edit.full {
    background-color: #07beb8 !important;
    color: #fff;
}

.active-column .fa-times-circle,
.btn-action.delete {
    color: #f26a8d;
}

.btn-action.delete.full {
    background-color: #f26a8d !important;
    color: #fff;
}

.btn-action.print,
.btn-action.redirect {
    color: #788bff;
}

.btn-action.payment {
    color: #3a86ff;
}

.btn-action.print {
    border: 1px solid #788bff;
}

.btn-action.back {
    color: var(--font-1100);
    border-color: var(--font-500);
    margin-right: 5px;
}

.button-area {
    float: right;
}

.button-area.update {
    float: none;
    display: flex;
    justify-content: space-between;
}

.table {
    background: var(--background-secondary);
    border: 1px solid var(--font-300);
    border-radius: 10px;
    border-collapse: separate;
    margin: 0;
}

.table th {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    border: none !important;
    background: var(--dark-blue-1);
    color: var(--font-1100);
    text-transform: capitalize;
}

.table th:first-child {
    border-top-left-radius: 10px;
}

.table th:last-child {
    border-top-right-radius: 10px;
}

.table th i {
    margin-right: 0.25rem;
}

.table td {
    vertical-align: middle;
    font-size: 14px;
    font-weight: 500;
    border: none;
    background: var(--background-secondary);
    color: var(--font-1100);
    padding: 7px 10px;
    text-transform: capitalize;
}

.receipt {
    width: 58mm; /* Typical size for machine receipts. TODO: adjust, if necessary. */
    font-family: Arial, sans-serif;
    font-size: 12px;
    padding: 10px;
}

.receipt h1, .receipt h2 {
    font-size: 16px;
    margin: 0;
}

.receipt p {
    margin: 5px 0;
}

.grayscale {
    filter: grayscale(100%);
}

.dropdown-list {
    bottom: 100% !important;
    border: none !important;
    font-size: 14px;
}

.selected-item {
    font-size: 14px;
}

.modal-content {
    background: var(--dark-blue-1);
    color: var(--font-1100);
}

.modal-content .close {
    color: var(--font-1100);
}

.modal-header,
.modal-footer {
    border-color: var(--font-400);
}

.form-label,
.form-check-label {
    font-size: 14px;
    color: var(--font-900);
    font-weight: 600;
}

.form-control {
    background: none !important;
    border-color: var(--font-300);
    color: var(--font-1000);
    font-size: 14px;
}

.form-control:focus {
    font-weight: 500;
    color: var(--font-1000);
}

.form-select {
    color: var(--font-1100) !important;
    background: var(--background-primary) !important;
    font-size: 14px;
    border-color: var(--font-300);
}

.modal-content .form-select{
    background: var(--dark-blue-1) !important;
}

.form-select option {
    font-size: 16px !important;
}

@media (max-width: 767px) {

    .title {
        margin-bottom: 20px;
    }

    .title h3{
        font-size: 18px;
    }
    
    .title small {
        font-size: 10px;
    }

    .container-fluid {
        padding: 0.7rem;
    }

    .table {
        width: 100%;
        border-collapse: collapse;
        box-shadow: none;
        background-color: transparent;
        border-color: transparent;
    }

    .table thead {
        display: none;
    }

    .table tr {
        display: block;
        margin-bottom: 20px;
        box-shadow: 0 .15rem 1.75rem 0 rgba(58, 59, 69, .15);
        border-radius: 10px;
    }

    .table td {
        display: block;
        text-align: right;
        position: relative;
        font-size: 11px;
    }

    .table td:first-child {
        background-color: var(--dark-blue-1);
        color: var(--font-1100);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        text-transform: uppercase;
    }

    .table td:last-child {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .table td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-weight: bold;
        text-align: left;
    }

    .table td a {
        color: var(--bs-white);
    }

    .btn-action {
        font-size: 11px;
    }
}
