@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fira+Code:wght@500&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~startbootstrap-sb-admin-2/css/sb-admin-2.min.css';
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~flatpickr/dist/flatpickr.css';


.btn-action {
    font-size: 10px;
    margin: 2px;
}

.btn-action span {
    display: inline;
}

.table thead th {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    border: none;
    background: #e3e6f0;
    color: #000;
}

.table tbody td {
    vertical-align: middle;
    font-size: 12px;
}

.table {
    border: 1px solid #f3f3f3b0;
}

@media (max-width: 767px) {
    .btn-action span{
        display: none;
    }
}
